html,body {
    scroll-behavior: smooth;
    overflow-y: scroll;
  }

body{
    background-image: linear-gradient(-225deg, #7DE2FC 0%, #B9B6E5 100%);
}

h3{
    font-size: calc(0.7rem + .6vw) !important;
}

#container{
    height: 100vh;
    display: flex;
    flex-direction: row-reverse;
}

.col{   
    height: 100%;
    margin: 5px;
    width: 100%;
}

#left{
    padding: 15px;
    background-color: rgb(255, 255, 255);
    width: 65%;
    overflow: scroll;
}
#right{
    width: 35%;
    overflow:scroll;
    display: flex;
    
}
#right-col{
    display: flex;
    flex-direction: column;
    height: fit-content;
}

.feature{
    display: flex;
    justify-content: space-between;
}
.feature > input{
    margin-left: 6px;
}

textarea{
    background-color: azure;
    width: 97%;
    margin: 10px;
    font-size: 14px;
}

.datafield {
margin-top: 5px;
display: flex;
justify-content: space-between;
}

.datafield >label>a,#right-col>h6>a{
    color: black;
    font-weight: bold;
    text-decoration: none;
}



input[type=text],input[type=date],input[type=checkbox],#readings, select {
    margin-right: 5vw;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

  .ib-grp{
    margin-right: 5vw;
    display: flex;
  }

  ::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}

#readings{  
    display: flex;
    align-items: flex-start;
}
#breast,#waist,#hips{
    margin-right: 0vw;
    width: 60px;
}

#copy-article{
    position: absolute;
    top: 86vh;
    right: 1.5rem;
    opacity: 0.7;
}
#copy-tags{
    position: absolute;
    top: 80vh;
    right: 1.5rem;
    opacity: 0.7;
}
/* #godup{

    position: absolute;
    top: 86vh;
    right: 1.5rem;
    opacity: 0.7;
}*/
#copy-title{
    position: absolute;
    top: 74vh;
    right: 1.5rem;
    opacity: 0.7;
} 

#up-down{
    display: flex;
    position: absolute;
    top: 92vh;
    right: 1.5rem;
    opacity: 0.7;
}
.hl{
    background-color: rgb(234, 221, 255);
}

.hlb{
    background-color: rgb(131, 226, 255);
}

.hlg{
    background-color: rgb(189, 241, 221);
}


@media only screen and (max-width: 600px) {
  
    #container{
        height: 100vh;
        display: flex;
        flex-direction: column-reverse;
        width: 100%;
    }

    #left{
        padding: 15px;
        background-color: rgb(255, 255, 255);
        width: 100%;
        overflow: scroll;
    }
    #right{
        width: 100%;
        overflow:scroll;
        display: flex;
        
    }
}

.ib-grp > input{
    margin-right: 0;
    width: 6rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    height: 100%!important;
}

.ib-grp > button{
    margin-left: 0.4rem;
}

#awards-add-input,#fact-add-input{
    margin-right: 0.5rem;
    
}

#awards-add-input-div{
    justify-content: flex-start;
}

#awards-rmv-btn,#fact-rmv-btn{
    padding: 0 10px 0 10px;
    margin-left: 5px;
}
.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#favorites-info >h3{
    margin-top: 1rem;
}